body {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

#container {
    width: 500px;
    font-size: 0; /*necessary to remove the gap between rows*/
}

#clear-button {
    margin-top: 15px;
    padding: 10px;
    background-color: yellow;
    font-weight: bold;

}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}
